<div fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div class="content" fxFlexFill>
        <div fxFlex="20" class="sec1">
            <img src="assets/images/Lapeyre-logo.png">
        </div>

        <div fxFlex="20" class="sec">

            <span>Nouvel onglet
              </span>
            <span class="spriteimg spritenouvel">
                </span>
        </div>
        <div fxFlex="20" class="sec">

            Cockpit Vente
            <span class="spriteimg spritevente">
                </span>
        </div>
        <div fxFlex="20" class="sec">
            Cockpit Service
            <span class="spriteimg spritevente">
              </span>
        </div>
        <div fxFlex="20" class="sec">
            Agenda
            <span class="spriteimg spritagenda">
              </span>
        </div>
        <div fxFlex="20" class="sec">
            Planning atelier
            <span class="spriteimg spriteplan">
              </span>
        </div>
        <div fxFlex="20" class="sec">
            Planning transporteurs
            <span class="spriteimg spriteplan2">
              </span>
        </div>
    </div>
</div>